<div class="mx-auto flex justify-center items-center gap-y-5">
  <form action="" method="post" autocomplete="off" class="space-y-4 w-full" novalidate>
    <div>
      <h3 class="text-2xl font-semibold mb-2">Bienvenido al
        <span class="text-4xl font-bold tracking-tight">equipo</span>
      </h3>
      <div class="bg-gradient-to-r from-orange-500 to-orange-400 h-1.5 rounded"></div>
    </div>
    <div>
      <label class="form-label" for="email">Email</label>

      <input type="email" id="email" class="form-input" placeholder="Ingrese su email">
    </div>

    <div>
      <label class="form-label" for="password">Contraseña</label>

      <input type="password" id="password" class="form-input" placeholder="Ingrese su contraseña">
    </div>

    <div class="py-2 text-end">
      <button type="submit" class="btn btn-morao w-2/4">
        Iniciar sesión
      </button>
    </div>
  </form>
</div>
