<h2 class="text-4xl font-bold tracking-widest uppercase border-b-4 border-morao">
  {{ context.site }} <span class="text-sm">admin</span><span class="text-sm font-normal text-orange-400 border-2-white -tracking-tight">beta</span>
</h2>
